<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <%- include('partials/_navbar.ejs') %>

 <div class="center-text"
    <h1>Welcome to Your Travel Packing App!</h1>
    <p>Here we will help you organize all your packing needs for your next traveling vacation!</p>
</div>

    <div class="input-container">
    <form class="input-form" action="/weather" method="GET">
        <label for="weatherLocation">Weather Information Zip Code or Location:</label>
        <input type="text" id="weatherLocation" name="weatherLocation" placeholder="Enter Zip Code or Location" required>
        <button type="submit">Get Weather</button>
    </form>

    <form class="input-form" action="/travel" method="GET">
        <label for="travelLocation">Traveling Location or Zip Code:</label>
        <input type="text" id="travelLocation" name="travelLocation" placeholder="Enter Travel Location or Zip Code" required>
        <button type="submit">Plan Trip</button>
    </form>
</br>
</div>
<a href="users/<%= user._id %>/items/showCategories">View my Checklist</a>
</body>
</html>