<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <%- include('partials/_navbar.ejs') %>
</br>
    <h1>Welcome to Your Travel Packing App!</h1>
    <p>Here we will help you organize all your packing needs for your next traveling vacation!</p>

    <p>Weather Information Zip Code or Location to be entered: HERE</p>
    <p>Traveling Location or Zip Code to be entered: HERE</p>
</br>
<a href="users/<%= user._id %>/items/showCategories">View my Checklist</a>

</body>
</html>