<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items to Pack</title>
</head>
<body>
    
    <h1>All the items that you are going to need for the perfect vaction!</h1>
    <p>Weather information to be enter here!</p>
    <p>Traveling location to be entered here</p>
    <ul>
        <lh>Tolitries</lh>
        <li>Something here</li><input type="checkbox">

    </ul>
    </br>
    <ul>
        <lh>Essentials</lh>
        <li>SOmething here</li><input type="checkbox">
        
    </ul>
    </br>
    <ul>
        <lh>speciality Clothes</lh>
        <li>Something here</li><input type="checkbox">
    </ul>
    </br>
    <ul>
        <lh>jackets/ Sweaters</lh>
        <li>something here</li><input type="checkbox">
    </ul>
    </br>
    <ul>
        <lh>Socks/Underwear</lh>
        <li>something here</li><input type="checkbox">
    </ul>
    </br>
    <ul>
        <lh>Lounge wear/ Athletic clothes</lh>
        <li>something here</li><input type="checkbox">
    </ul>
    </br>
</body>
</html>